# ====================== عمومی ======================
bin/
obj/
*.user
*.suo
.vs/
.idea/
.vscode/
*.swp
*~

# ====================== دات‌نت ======================
artifacts/
TestResults/
*.trx
coverage/
*.coverage

# ====================== نود ======================
node_modules/
.next/
out/
dist/

# =====================️ فلاتر ======================
.dart_tool/
build/
.flutter-plugins*
**/ios/Pods/
**/.symlinks/

# ====================== داکر ======================
*.env
!*.env.example

# =====================️ اسناد/متفرقه ======================
.DS_Store
Thumbs.db
